.content-connexion
  background-color: background-connexion

.connexion
  position: relative
  background-color main-white
  border-top .5rem solid connexion-color-blue
  &__title
    color: connexion-color-blue
    font-size: 2rem
    margin-left 3.5rem
  &__username
  &__password
    border 1px solid connexion-grey-color
    font-size: 1.2rem
    font-weight 100
    color: connexion-textinput-color
    &:hover
      border 1px solid connexion-grey-color - 20%
      transition .1s ease-in-out
    &:focus
      border 1px solid connexion-color-blue
      transition .3s ease-in-out
  &__submit
    background-color connexion-color-blue
    color main-white
    font-weight 100
    border none
    cursor pointer
    &:hover
      background-color connexion-color-blue - 20%
      transition .3s ease-in-out
  &__forgot
    font-size: 1.2rem
    color light-black
    background-color connexion-grey-color
    text-decoration none
    &:hover
      background-color connexion-grey-color - 20%
      transition .3s ease-in-out
      color: main-white


