/* Created by Jimmy Letecheur at 04/04/16 */

.footer
  &-content
    background-color footer-dark-blue
    &__intro-text
      color main-white
      font-size 2rem
      font-weight 200
    &__button
      font-size 3rem
      text-transform uppercase
      color main-white
      font-weight 200
      text-decoration none
      background-color light-orange
      border-radius 10rem
      padding 1.5rem 4.5rem 1rem
      &:hover
        background-color dark-orange
        transition .3s ease


.footer-copyright
  background-color blue-light
  color main-white
  font-weight 200
  font-size 1.5rem
  padding .8rem
  text-align center
  &__link
    color main-white