.header
  background url(../img/png/background_index_head.png) center center no-repeat
  background-size cover
  color main-white
  &__main-span
    font-family camptonfont
    font-size 3rem
    letter-spacing .1rem
    font-weight bold
  &__second-span
    font-size 2rem
    font-weight 200
  &__button-hasard
    font-size 1.6rem
    text-transform uppercase
    background-color light-orange
    padding 2rem 3rem 1.6rem
    border-radius 10rem
    color main-white
    text-decoration none
    &:hover
      border 2px solid white
    &:after
      display inline-block
      content ""
      background-image url(../img/svg/arrow_right.svg)
      width 17px
      height 27px
      margin-left 2rem
      position: relative
      top .75rem


.menu__item
  &-link
    color main-white
    text-decoration none
    font-size 1.6rem
    text-transform uppercase
    font-weight 200
    &:hover
      text-decoration underline


.menu__item-connexion
.menu__item-inscription
  border-radius 10rem
  padding .7rem 1.3rem .3rem
  margin-right -1rem

.menu__item-connexion
  margin-right -1rem
  background-color main-white
  color light-black
  &:hover
    background-color main-white - 10%
    text-decoration none

.menu__item-inscription
  background-color dark-orange
  color main-white
  &:hover
    background-color dark-orange - 10%
    text-decoration none


.menu__item--active
  text-decoration underline




