.content-history__title
  display none

.contener-history__button-link
  text-transform uppercase
  background-color dark-orange
  font-family proximanovafont
  font-weight normal
  text-align center
  font-size 2rem
  line-height 3.7rem
  border-radius 10rem
  color main-white
  text-decoration none
  width 14rem
  height 3.5rem
  &:hover
    background-color dark-orange - 20%

.nav-filter
  font-size 1.5rem
  font proximanovafont
  font-weight bold
  &__link
    color dark-black
    margin-right 3rem
    text-decoration none
    &:hover
      text-decoration underline



.history-article
  background-color light-grey
  &:after
    content: "";
    display: block;
    clear: both;
  &__img
    float left
  &__title
    font-family camptonfont
    font-size 3rem
  &__synopsis
    font-size 1.8rem
    color light-black
    line-height 2.2rem
  &__author
    font-size 1.4rem
  &__status
    font-size 1.4rem
    color light-black
  &__read-history
    display inline-block
    width 16.2rem
    height 4.1rem
    background-color blue-light
    font-size 2rem
    color main-white
    border-radius 10rem
    line-height 4.1rem
    text-decoration none
    text-align center
    &:hover
      background-color footer-dark-blue
  &__maj
    color main-white
    text-transform uppercase
    font-weight bold
    background-color main-white - 30%
    border-radius 50rem
    height 7.3rem
    width 7.3rem
    display inline-block
    line-height 7.3rem
    text-align center
    font-size 2rem
  &__more-history
    text-transform uppercase
    font-weight bold
    font-size 2rem
    height 6.1rem
    width 39.3rem
    display block
    text-align center
    line-height 6.1rem
    border 2px solid blue-light
    color light-black
    text-decoration none
    &:hover
      background-color blue-light
      color main-white
