.history-article
  &__download-ebook
  &__download-pdf
    display inline-block
    height 4rem
    width 30rem
    color main-white
    font-size 1.6rem
    background-color blue-light
    text-transform uppercase
    border-radius 10rem
    line-height 4rem
    text-align center
    text-decoration none
  &__download-ebook
    background-color blue-light
    &:hover
      background-color blue-light - 20%
  &__download-pdf
    background-color button-pdf-color
    &:hover
      background-color button-pdf-color - 20%


.chapitre
  &__contener
    &__title
      display none
  &__title
    font-family camptonfont
    font-weight bold
    font-size 2.6rem
    &:after
      background-color: dark-black
      content: '\a0'
      flex-grow: 1
      height: 2px
      position: relative
      padding-right 2rem
      top: 0.53em
      margin-left 2rem
      margin-right 3.3rem
  &__paragraph
    color light-black
    font-size 2.4rem
    line-height 2.6rem
    margin-top 3rem
  &__read
    font-size 1.4rem
    color light-black
    text-decoration none
    &:after
      content ""
      display inline-block
      background-image url(../img/svg/read_deployed.svg)
      width 2.7rem
      height 2.7rem
      position absolute
      right -3.4rem
      top -0.4rem

/******/
/*BLOC COMMENT*/
/******/

.comments-content
  background-color section-comments-color

.comments
  border-radius .5rem
  background-color main-white
  &__head-section
    border-radius .5rem .5rem 0 0
    background-color comment-grey-color
    height 7rem
    &__number
      color comment-title-color
      text-transform: uppercase
      font-weight: normal
      font-size: 2rem
      line-height 7rem
    &__pseudo
      color comment-title-color + 20%
      font-size: 1.6rem
      line-height 7rem
  &__text-area
    border-radius .5rem
    background-color comment-grey-color
    border 1px solid comment-grey-color - 20%
    font-family camptonfont
    font-weight 100
    font-size 1.5rem
    color text-area-color
    &:focus
      border 1px solid dark-black
      appearance none

.comments__block__pseudo
  font-size: 1.5rem

.comments__block__time
  color text-area-color

.comments__paragraph
  font-family: proximanovafont
  font-weight: 100
  margin-top: .5rem

.comments__load-more
  text-transform uppercase
  font-weight bold
  font-size 2rem
  height 6.1rem
  width 39.3rem
  display block
  text-align center
  line-height 6.1rem
  border 2px solid blue-light
  color light-black
  text-decoration none
  &:hover
    background-color blue-light
    color main-white


/***** Histoires en cours d'écriture *******/

.chapitre__temp
  font-size: 2rem
  color: color-load-text
  &:before
    content: ''
    display block
    width 22.4rem
    height: 3.9rem
    background-image url(../img/svg/history_load.svg)
    background-repeat no-repeat
    background-position center
    margin: 6rem auto 1rem auto
