/* Libree, created by Jimmy Letecheur
/* 04/04/2016
*/

.contener-top
  padding 0rem 1rem

.author-top__title
.history-top__title
  font-family camptonfont
  font-weight bold
  text-transform uppercase
  font-size 3.5em
  color dark-black
  overflow: hidden;
  &:after
    background-color: dark-black
    content: '\a0'
    flex-grow: 1
    height: 2px
    position: relative
    top: 0.48em
    margin-left 2rem
    margin-right 1rem

.index-article
  background-color light-grey

.author-top-article
  &__title
    font-weight 600
    font-size 3rem
    letter-spacing .07rem
  &__paragraph
    font-size 1.8rem
    color light-black
    font-weight 200
    line-height 2.2rem
  &__link
    background-color blue-light
    color main-white
    text-decoration: none
    font-size: 2.2rem
    border-radius 10rem
    padding .8rem 2rem .5rem
    font-weight 200;
    display inline-block
    &:hover
      background-color footer-dark-blue

.history-top-article
  padding 2rem 3rem
.history__top-item
  &__title
    font-family camptonfont
    font-weight bold
    font-size 2.5rem
    color light-black
  &__link
    color main-white
    text-decoration none
    font-size 1.8rem
    font-weight 200;
    background-color blue-light
    border-radius 10rem
    padding .8rem 2rem .5rem
    &:hover
      background-color footer-dark-blue
