/* colors style
* by Jimmy Letecheur
*/

main-white = #FFF;
dark-orange = #FF9932;
light-orange = #FFBE7C;

blue-light = #358CD3;

footer-dark-blue = #275C87;

light-black = #454545;
dark-black = #000;

light-grey = #EEEEEE;

form-color = #8493A8;
form-border-color = #CAD3DF;
form-background-color = #ECEFF4;

button-pdf-color = #D91F16;