/* colors style
* by Jimmy Letecheur
*/

main-white = #FFF;
dark-orange = #FF9932;
light-orange = #FFBE7C;

blue-light = #358CD3;

footer-dark-blue = #275C87;

light-black = #454545;
dark-black = #000;

light-grey = #EEEEEE;

form-color = #8493A8;
form-border-color = #CAD3DF;
form-background-color = #ECEFF4;

button-pdf-color = #D91F16;

section-comments-color = #CAD3DF;
comment-grey-color = #ECEFF4;
comment-title-color = #3D4D65;
text-area-color = #8493A8

color-load-text = #767676;

background-connexion = #d0d0d0;
connexion-color-blue = #25a5e1;
connexion-grey-color = #D9D9D9;
connexion-textinput-color = #767676;