.search-author
  &__contener-search
    padding 1rem
    margin 5rem auto
    text-align center
  &__label
    margin-top 1rem
    margin-bottom .5rem
    position: relative
    left -5.35rem
    display inline-block
  &__input-contener
    position relative
  &__img
    position: absolute
    right 6.5rem
    top 1.2rem


.grid
  max-width 92rem
  margin 0 auto
  padding 0 1rem
  &:after
      content: ""
      display: block
      clear: both
  &__item
    width 22.4rem
    text-align center
    display inline-block
    margin-bottom 10rem
    float left
    &__author-title
      margin-bottom 2rem
      display inline-block
    &__author-img
      margin-bottom 2.5rem
    &__author-title-contener
      max-width 21.5rem
      vertical-align middle

.author__more-history
  margin 0 auto 10rem auto

.test123
  margin 0 auto
  text-align 0

@media screen and (max-width 905px)
  .grid
    max-width 58.4rem
    margin 0 auto

@media screen and (max-width 582px)
  .grid
    max-width 23.6rem