/*****************/
/*** CONTENT *****/
/*****************/

.author-top
.history-top
  position: relative

.history-top
  margin-top 8 rem;

.contener-top
  max-width 110rem
  margin 10rem auto 0 auto
  padding 0rem 2.5rem



.author-top__title
.history-top__title
  display: flex;
  flex-direction: row;
  justify-content: center;

/*************************/
/*** AUTEUR A LA UNE *****/
/*************************/

.index-article
  margin 0 auto;
  max-width 96%;

.author-top__title
.history-top__title
  margin-bottom 3rem

.author-top-article
  &:after
    content "";
    display block;
    clear both;
  &__img
    float left
  &__title
    padding-top 2rem
  &__contener
    margin-left 25.5rem
    padding-right 2rem
  &__paragraph
    margin-top 2rem
  &__link-contener
    position absolute
    bottom 0
    margin-bottom 2rem
  &__link
    margin-right 2.5rem

/*************************/
/**** TOP HISTOIRES ******/
/*************************/

.history__top-list
  display flex
  justify-content space-around
  text-align: center

.history__top-item
  &__title
    margin-bottom 1rem
  &__img
    display block
  &__link
    display inline-block
    margin-top 2rem

.history-top-article
  margin-bottom 10rem