

.content-connexion
  height 44rem
  text-align center

.connexion
  height 32rem
  width 31rem
  display inline-block
  margin 6rem auto
  text-align left
  &__title
    margin-top 4.5rem
  &__form
    text-align center
    margin-top 2rem
  &__password
  &__submit
    margin-top 2rem
  &__submit
    height: 3.5rem
    width: 24rem
    text-align center
  &__password
  &__username
    padding 0 1rem
    width 24rem
    height 3.5rem
  &__forgot
    display block
    height 5rem
    position: absolute
    bottom 0
    width 100%
    line-height 5rem
  &__info
    display block
    margin-top 1rem

