/* My css import
 *
 * Main stylesheet
 * by Jimmy Letecheur
 */

// Settings
@import "settings/colors";
@import "settings/fonts";

// Tools
// --- nothing here (yet)

// Generic
@import "generic/reset_meyer"
@import "generic/reset_flexbox"


// Base
@import "base/base.styl"

// Objects
@import "objects/structure_base.styl"
@import "objects/structure_home.styl"
@import "objects/structure_history.styl"

// Components
@import "components/header.styl"
@import "components/index_content.styl"
@import "components/footer.styl"
@import "components/history_content.styl"


// Trumps
// --- nothing here (yet)